#mainTitle {
    font-size: 50px;
    padding: 24px;
    position: center;
}

.startButton {
    padding: 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: green;
    border-radius: 4px;
}