#mainTitle {
    font-size: 50px;
    padding: 24px;
    position: center;
}

.startButton {
    padding: 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: green;
    border-radius: 4px;
}

#imageContainer {
    width: 50vw;
    height: 50vh;
    border: 2px solid red;
    background-image: url('../images/Ls1Teeth.png');
    background-size: cover;
    margin: auto;
}